/* $mint_green: #9ec3a9; */
$slate: #87afb5;

$med_grey: #828282;
$dark_grey: #333333;

$trans_off_white: rgba(242,242,235,0.7);
* {
margin: 0;
padding: 0;
}
html, body {
height: 100%;
width: 100%;
max-width: 100%;
}

.dark {
    background-color: rgba(38,38,38,1);
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
.clear {
    clear: both;
}

h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

/* ********** Overrides ********** */
.row {
  margin: 0 !important;
}
/* ****************************** */

/* ********** Layout ********** */

.container-fluid {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -35px auto;
    width: 100%;
    padding: 0;

}
.container {
    width: 100%;
    max-width: 100%;
    position: relative;
    top: 0;
    padding: 0;

}

.content {
    width: 95%;
    max-width: 95%;
    padding: 0;
    margin: 0 auto;

}

.footer, .push {
    height: 35px;
    clear: both;
}

.footer {
    .copyright {
        font-family: sans-serif;
        font-size: 0.8em;
        text-align: center;
        line-height: 35px;
    }
}

/* **************************** */

/* ********** Header ********** */
header.header {
    width: 100%;
    height: 185px;
    content: '';
    margin: 0;
    padding: 0;
    h2.logo {
        font-family: 'Marcellus', serif;
        font-size: 6.25em;
        color: $slate;
        margin: 0 0 5px 30px;
        padding: 0;
    }
    h1.title {
        font-family: 'Merriweather', serif;
        font-size: 1.2em;
        padding: 0;
        margin: 0 0 0 20px;
        a:link, a:hover, a:active, a:visited {
            color: $med_grey;
            text-decoration: none;
        }
    }
    ul.s-m-i {
        display: inline-block;
        float: right;
        margin-right: 30px;
        list-style: none;
        z-index: 50;
        position: relative;
        margin-bottom: 0;
        li {
            display: inline-block;
            padding: 0 8px;
            i {
                color: $med_grey;
                font-size: 1.7em;
                &:hover {
                    color: $slate;
                }
            }
        }
    }
    nav.nav {
        width: 100%;
        height: 40px;
        background-color: #f2f2f2;
        margin: 0 0 10px 0;
        padding: 0;

        ul.menu {
            list-style: none;
            display: block;
            text-align: center;
            padding: 0;
            margin: 0;


            li.menu-item {
                line-height: 40px;
                font-family: 'Open Sans', sans-serif;
                font-size: 1.1em;
                padding: 0 20px;
                display: inline-block;
                a:link, a:hover, a:active, a:visited {
                    color: $dark_grey;
                    text-decoration: none;
                }

                a:link.active, a:hover.active, a:active.active, a:visited.active {
                    color: darken($slate, 20%);
                    font-weight: 600;
                }

            }
        }
    }
}

/* **************************** */


/* ********** Front page ********** */
.images {
    position: relative;
    top: 30px;
}

/* ******************************* */


/* ********** Contact Page ********** */

.box {
/*     background-color: #eee;
 */}
.errors {
    font-size: 0.9em;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 0.25px;
}
.number-dotpoints {
    list-style: decimal;
}

form {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0 50px 0;
    label {
        font-family: sans-serif;
        font-weight: 600 !important;
        color: darken($slate, 20%);
    }
    input[type="text"],
    input[type="email"],
    textarea.form-control {
        background-color: #fff !important;
    }
    .submit {
        display: block;
        width: 150px;
        height: 35px;
        background-color: darken($slate, 20%);
        color: #fff;
        text-align: center;
        font-family: sans-serif;
        font-size: 1.1em;
        border: 0;
        margin: 0 auto;
    }
}
.contact-icon {
    i {
        font-size: 2em;
        color: #555;
            &.twitter-blue {
                color: #4099ff;
            }
            &.facebook-blue {
                color: #3b5998;
            }
            &.pinterest-red {
                color: #cb2027;
            }
            &.instagram-blue {
                color: #32506d;
            }
    }
    i, img {
        margin: 15px;
        width: 32px;
    }
}

/* ********************************** */

/* ********** Gallery ********** */


.lb-album{
	width: 1000px;
	margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
.lb-album li{
	float: left;
	position: relative;
    list-style: none;
    box-sizing:border-box;
    width: 25%;
}
.lb-album li > a,
.lb-album li > a img{
	display: block;
    width: 100%;
}
.lb-album li > a{
	position: relative;
	padding: 10px;
}

.lb-album li > a span{
	position: absolute;
	width: 250px;
	height: 250px;
	top: 10px;
	left: 10px;
	text-align: center;
	line-height: 250px;
    color: #f2f2eb;
    text-shadow: 0px 3px 3px rgba(0,0,0,0.9);
    font-size: 1.5em;
	opacity: 0;
	transition: opacity 0.4s linear;
}
.lb-album li > a:hover span{
	opacity: 1;
}

.lb-overlay{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
    background-color: rgba(10,10,10,0.95);
    -webkit-transition: background-color 1s linear;
    -moz-transition: background-color 1s linear;
    -o-transition: background-color 1s linear;
}


.lb-overlay .lb-overlay-box {
    width: 640px;
    height: auto;
    margin: 0 auto;
}

.lb-overlay .lb-overlay-box .lb-details{
	position: relative;
    color: $trans_off_white;
	width: 600px;
	margin: 70px auto 0px auto;
    margin-left: -3px;
}
.lb-overlay .lb-overlay-box .lb-details h3.title{
    text-align: center;
	height: 60px;
    font-size: 2.4em;

}

.lb-overlay .lb-overlay-box .lb-details span.gallery-description{
	display: block;
    width: 80%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    color: $trans_off_white;
    text-align: center;
    font-style: italic;
}
.lb-overlay .lb-overlay-box .lb-details p{
    font-size: 0.85em;
	text-align: left;
	float: left;
	width: 300px;
}

.lb-overlay .lb-overlay-box a.lb-close{
    z-index: 1001;
    position: relative;
    top: 0;
    right: 0;
    float: right;
    font-size: 2em;
    width: 30px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    border: 2px solid $trans_off_white;
    border-radius: 50%;
    &:link, &:hover, &:visited, &:active {
        text-decoration: none;
        color: $trans_off_white;
    }
}

.lb-overlay .lb-overlay-box img{
    margin-top: 40px;
	position: relative;
	opacity: 0;
    width: 450px;
    height: 450px;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	transition: opacity 0.5s linear;
}


.lb-overlay .lb-overlay-box .lb-nav{
	position: relative;
    left: -15px;
    color: $trans_off_white;
	width: 500px;
	margin: 10px auto 0px auto;
}

.lb-overlay-box .lb-nav .prev,
.lb-overlay-box .lb-nav .next {
    width: 250px;
}


.lb-overlay-box .lb-nav .prev .lb-prev,
.lb-overlay-box .lb-nav .next .lb-next{
    position: absolute;
    /* height: 25px; */
    /* opacity: 0.8; */
/*     border: 1px solid $trans_off_white;*/
    &:link, &:hover, &:active, &:visited {
        text-decoration: none;
        color: $trans_off_white;
        font-size: 4em;

    }
}
.lb-overlay-box .lb-nav .prev .lb-prev {
    left: 0;
    text-align: left;
}
.lb-overlay-box .lb-nav .lb-next {
    right: 0;
    text-align: right;
}


.lb-overlay-box .title .lb-prev, .lb-next{
	position: absolute;
	height: 25px;
	opacity: 0.8;
    color: $trans_off_white;
    font-size: 1em;
}
.lb-overlay-box .title .lb-prev {
    left: 0;

}
.lb-overlay-box .title .lb-next {
    right: 0;

}


.lb-overlay-box .title .lb-prev:hover, .lb-next:hover{
	opacity: 1;
}
.lb-overlay-box .title .lb-prev{
	margin-left: -30px;
	background: transparent url(../images/arrows.png) no-repeat top left;
}
.lb-overlay-box .title .lb-next{
	margin-left: 6px;
	background: transparent url(../images/arrows.png) no-repeat top right;
}

.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}

.lb-overlay:target img,
.lb-overlay:target a.lb-close{
	opacity: 1;
}

.lb-overlay:target img {
	animation: fadeInScale 1.2s ease-in-out;
}
@keyframes fadeInScale {
  0% { transform: scale(0.6); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}







/* .gallery {
    width: 1000px;
    height: 1000px;
    border: 1px solid #000;
    margin: 0 auto 20px auto;
}
a.image{
float:left;
width:25%;
height:25%;
position:relative;
border:1px solid #333;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}

a.image img{
display:block;
width:100%;
height:100%;
-webkit-transition-property:width, height;
-webkit-transition-duration:300ms;
-moz-transition-property:width, height;
-moz-transition-duration:300ms;
-o-transition-property:width, height;
-o-transition-duration:300ms;
position:absolute;
z-index:1;
opacity:1;
cursor:pointer;
}

a.image:after {
    display: block;
    position: absolute;
    top: 220px;
    text-align: center;
    width: 100%;
    height: 100%;
    content: "rebeccacordingley.com";
    color: #ccc;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    opacity: 0.2;
    background-color: rgba(250,250,250,0.3);
}

a.image:focus img{
    width: 200%; we increased an image to this size
    height: 200%;
    position: absolute;
    opacity: 1; transparency is not needed
    z-index: 100; for a photo to enlarge over all images
    -moz-box-shadow: 0 0 15px 2px #000;
    -webkit-box-shadow: 0 0 15px 2px #000;
    box-shadow: 0 0 15px 2px #000; we add some beauty
    -webkit-transition-property: width, height; we decrease the image
    -webkit-transition-duration: 1s; we specify, with what speed it is necessary to increase an image
    -webkit-transition-delay: 0.3s; as a browser will process it, before enlarging a photo
    -moz-transition-property: width, height;
    -moz-transition-duration: 2s;
    -moz-transition-delay: 0.3s;
    -o-transition-property:width, height;
    -o-transition-duration: 2s;
    -o-transition-delay: 0.3s;
    cursor: default;
}


a:nth-child(4n+4) img, a:nth-child(4n+3) img{
    right: 0;
} every fourth element starting with 3rd and 4th will be enlarged from the right border of browser window

a:nth-child(n+9) img {
    bottom: 0;
}
every element starting with 9th will be enlarged upwards

.exit {


    position:absolute;
    border: 3px solid #f2f2eb;
    border-radius: 50%;
    top:0;
    right:0;
    display:none;
    text-align:center;
    font-weight:400;
    font-size:2.2em;
    color:#fff;
    width:40px;
    height:40px;
    line-height: 31px;
    text-align: center;
    cursor:pointer;
    z-index:3;

}
a:focus~.exit{
    display: block;
} */
/* ***************************** */





/* * {
margin: 0;
}
html, body {
height: 100%;
width: 100%;
max-width: 100%;
}
h2 {
    color: #529f8b;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
.red {
    color: #c00404;
}
.at-share-tbx-element {
margin: 0 auto;
display: block;
position: relative;
width: 80%;
    .at-share-btn {
        margin: 0 8px !important;
        text-align: center;
    }
}

header.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    display: block;
    .coloured-bar {
        height: 35px;
        background-color: #f0f0f0;
        background-color: transparent;
        nav.menu {
            margin: 0 auto;
            display: block;
            text-align: center;
            ul {
                list-style: none;
                display: inline-block;
                li.menu-item {
                    font-family: sans-serif;
                    font-size: 0.9em;
                    line-height: 35px;
                    display: inline-block;
                    padding: 0 15px;
                    color: #767676;
                    a:link, a:hover, a:active, a:visited {
                        color: #767676;
                    }
                }
            }
        }
        ul.icons {
            display: inline-block;
            float: left;
            list-style: none;
            margin-right: 20px;
            margin-top: 170px;
            li {
                display: block;
                i {
                    color: #828282;
                    color: lighten(#5389a1, 15%);
                    font-size: 1.8em;
                    padding: 5px 0;
                    line-height: 35px;
                    &:hover {
                        color: lighten(#5389a1, 15%);
                    }
                }
            }
        }
    }
    h2.logo {
        font-family: 'Caudex', serif;
        font-size: 4em;
        color: #6e6e6e;
        display: block;
        margin: 10px auto 0 auto;
        width: 190px;
        position: relative;
        text-align: center;
        border: 1px solid #ccc;
        background-color: transparent;
        padding: 0 45px 4px 45px;
    }
    h1.title {
        font-family: 'Caudex', serif;
        font-size: 1.1em;
        font-width: 400;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 5px;
        z-index: 100;
        position: relative;
        a:link, a:hover, a:active, a:visited {
            color: #555;
            color: #8c8c8c;
        }
    }
    hr.header-rule {
        border: 0;
        height: 1px;
        width: 250px;
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
        background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
        background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
        background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
        margin: 0 auto;
    }
}


.container-fluid {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -35px;
}
.container {
    position: relative;
    top: 50px;
}

.content {
    margin-top: 130px;
    width: 100%;
    height: auto;
}

.footer, .push {
    height: 35px;
}

.footer {
    background-color: #dedede;
    .copyright {
        font-family: sans-serif;
        font-size: 0.8em;
        text-align: center;
        line-height: 35px;
    }
}



Front page

.blurb {
    font-family: sans-serif;
    font-size: 0.9em;
    color: #333;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 30px;
}

.image {
    width: 200px;
    margin-bottom: 60px;
    img.frontpage-image {
        display: block;
        margin: 0 auto 10px auto; top
    }
    a.rollover-link {
        text-decoration: none;
    }
    .rollover {
        position: absolute;
        z-index: 50;
        top: 0;
        width: 200px;
        height: 200px;
        background-color: rgba(0,0,0,0.6);
        display: none;
        p.title {
            font-family: sans-serif;
            font-size: 1.2em;
            color: #888;
            text-align: center;
            color: #ccc;
            line-height: 170px;
            font-weight: 500;
            letter-spacing: 0.8px;

        }
        .s-m-i {
            width: 100%;
            height: 25px;
            position: absolute;
            bottom: 10px;
            padding: 7px;
            .row .col-md-3 {
                text-align: center;
                i {
                    color: #ccc;
                }
            }
        }
    }

}
Contact Page

.box {
    background-color: #eee;
    background-color: adjust-hue(#0076a3, 20%);
}
.errors {
    font-size: 0.9em;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 0.25px;
}
.number-dotpoints {
    list-style: decimal;
}

form {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    label {
        font-family: sans-serif;
        font-weight: 600 !important;
    }
    input[type="text"],
    input[type="email"],
    textarea.form-control {
        background-color: #eee !important;
    }
    .submit {
        display: block;
        width: 150px;
        height: 30px;
        background-color: #e2e2e2;
        color: #666;
        text-align: center;
        font-family: sans-serif;
        font-size: 1.1em;
        border: 1px solid #666;
        margin: 0 auto;
        box-shadow: 3px 3px 3px #ccc;
    }
}
.contact-icon {
    i {
        font-size: 2em;
        color: #555;
            &.twitter-blue {
                color: #4099ff;
            }
            &.facebook-blue {
                color: #3b5998;
            }
            &.pinterest-red {
                color: #cb2027;
            }
            &.instagram-blue {
                color: #32506d;
            }
    }
    i, img {
        margin: 15px;
        width: 32px;
    }
}
 */
