.DS_Store
/vendor
/node_modules
.env
/config
public/js/scripts.js
resources/views/home2.blade.php
resources/views/includes/footer2.blade.php
resources/views/includes/head2.blade.php
resources/views/includes/header2.blade.php
notes.txt
public/images/goldrush.jpg
public/images/load.gif
public/images/logo.png
public/images/logo2.png
public/images/logo4.png
public/images/logo_drafft.psd
public/images/preloader.gif
public/images/18748.png
public/images/26865.JPG
public/images/34614.JPG
public/images/48527.jpg
public/images/50166.png
public/images/69247.png
public/images/74269.png
public/images/87910.jpg
public/images/96285.JPG
public/images/97029.png
