/vendor
/node_modules
.env
/config
public/js/scripts.js
resources/views/home2.blade.php
resources/views/includes/footer2.blade.php
resources/views/includes/head2.blade.php
resources/views/includes/header2.blade.php
notes.txt
public/images/goldrush.jpg
public/images/load.gif
public/images/logo.png
public/images/logo2.png
public/images/logo4.png
public/images/logo_drafft.psd
public/images/preloader.gif
